.nav-item
{
    margin-left: 30px;
    padding-right: 50px;
    border-right : solid white 2px;
}
.navbar-brand
{
    margin: auto;
}
.contact
{
    padding-right: 2px;
    margin-left: 10px;
    border-right : 0px;
}
.list-unstyled
{
    margin: 20px;
    padding: 10px;
}
.media
{
    border: aqua 10px;
    border-style: ridge;
    border-radius: 30px;
    padding: 20px;
}
.dps
{
    border-radius: 5px 20px 5px;
    margin-right:30px;
}
.wave-container 
{
    background-color:#343A40;
    margin-top: 0px;
    padding-top:0;
    padding-left:200px;
    padding-right:0;
    padding-bottom:700px;
    color: aliceblue;
    
}
.wave-container > svg 
{
    display: block;
}

  
  input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 2px;
    margin-bottom: 5px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #343A40;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #343A40;
  }
  
  
  .container {
    width:400px;
    margin-left:50px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    color:#343A40;
    float:left;
  }
.container-2
  {
    width:400px;
    margin-left:50px;
    background-color: #343A40;
    padding: 10px;
    color:aliceblue;
    float:left;
    font-size: large;
  }
  .circles1{
    height: 100px;
    width: 100px;
    background-color:#343A40;
    border-radius: 50%;
    z-index: -1;
    position: relative;
    left: 100px;
    top: 70px;
    float: left;
  }
  .circles2{
    height:200px;
    width: 200px;
    background-color:#343A40;
    border-radius: 47% 53% 49% 51% / 69% 52% 48% 31% ;
    z-index: -2;
    position: relative;
    right: -1000px;
    top: 70px;
    float: left;
  }

  .column {
    float: left;
    width: 100%;
    margin-top: 6px;
    padding: 20px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
